@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body,
  #root {
    height: 100%;
    margin: 0;

  }

  html {


    font-family: "Fredoka", sans-serif;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

  }

  #root {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

}

.main-content {
  flex-grow: 1;
}

footer {
  margin-top: auto;
  text-align: center;
}

.mb-w0 {
  margin-bottom: 2.5rem;

}